@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-one:#1E201E;
    --color-two:#3C3D37;
    --color-three:#697565;
    --color-four:#ECDFCC;
    --color-five: #ffffff; 

    --fuente-texto:'Inter', sans serif;
 }

*{
  margin: 0;
  padding: 0;  
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--color-four);
}

.alura-icon{
  position:absolute;
    width: 42%;
    height: 60%;
    left: 10%;    
    top: 13%;

}

.texto{
    position:absolute;
    width: 42%;
    height: 60%;
    left: 16%;
    top: 15%;
    border: none;
    font-family: var(--fuente-texto);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    background-color: var(--color-four);
}

.texto::placeholder{
    color: var(--color-two)
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.alerta{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 16%;
    top: 80%
}

.alerta p{
  font-family: var(--fuente-texto);  
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-three);
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 16%;
    top: 82%;
    gap: 24px;
}

.boton-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color:var(--color-one);
    border: 1px solid var(--color-one);
    border-radius: 24px;

    font-family: var(--fuente-texto);
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ECDFCC;
}

.boton-desencriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color:var(--color-three);
    border: 1px solid var(--color-one);
    border-radius: 24px;

    font-family: var(--fuente-texto);
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-four);
}

.boton-desencriptar:hover,
.boton-encriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;

    background-color: var(--color-five);
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.5);
    border-radius: 32px;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 55%;
    top: 8%;
    left: 6%
}

.boton-copiar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color:var(--color-three);
    border: 1px solid var(--color-one);
    border-radius: 15px;

    font-family: var(--fuente-texto);
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: var(--color-four);
}

.boton-copiar:hover{
  margin: 0.3%;
  width: 24.5%;
  padding: 1.8%;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
    
    font-family: var(--fuente-texto);
}

.mensaje-encriptado h2{
    width: 60%;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5 rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-two)
}

.mensaje-encriptado p{
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-three);
    
}

.footer{
    background-color: var(--color-three);
    padding: 1 rem;
    position: absolute;
    width: 100%;
    height: 2%;
    bottom: 0%;
    color: var(--color-four);
    text-align: center;
    font-family: var(--fuente-texto);
    font-size: 0.8 rem;
    font-weight: 250;    
}
   

@media (max-width: 58.3125em) {
    .container {
      display: flex;
      flex-direction: row;
    }
    .alura-icon {
      top: 0;
      display: none;
      visibility: hidden;
    }

    .encriptar {
      width: 100%;
    }

    .texto {
      width: 80%;
      height: 60%;
      left: 10%;
      top: 5%;
    }

    .alerta {
      width: 80%;
      left: 10%;
      top: 67%;
    }

    .alerta p {
      font-size: 16px;
    }

    .botones {
      width: 80%;
      left: 10%;
      top: 70%;
    }

    .boton-encriptar,
    .boton-desencriptar {
      width: 48%;
      border-radius: 16px;
    }

    .boton-encriptar:hover,
    .boton-desencriptar:hover {
      margin: 0.3%;
      width: 47.5%;
      padding: 1.8%;
    }

    .encriptado {
      width: 80%;
      height: 15%;
      left: 10%;
      top: 80%;

      font-size: 80%;
    }

    .boton-copiar {
      width: 48%;
      border-radius: 16px;
    }

     .boton-copiar:hover {
      margin: 0.3%;
      width: 47.5%;
      padding: 1.8%;
    }

    .mensaje-encriptado {
      width: 100%;
      top: 5%;
    }

    .encriptado img {
      top: 0;
      display: none;
      visibility: hidden;
    }

    .footer{
     width: 100%;
    }
  }